# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.SortedLinkedList.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\EDCSharpProjects\SortedLinkedList\.idea\.idea.SortedLinkedList\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
